@page
@using Microsoft.Extensions.Localization
@using Necnat.Abp.Br.NnStdGeolocalizacao.Localization
@using Necnat.Abp.Br.NnStdGeolocalizacao.Web.Pages.NnStdGeolocalizacao
@model Necnat.Abp.Br.NnStdGeolocalizacao.Web.Pages.NnStdGeolocalizacao.IndexModel
@inject IStringLocalizer<NnStdGeolocalizacaoResource> L

@{
}
<h1>NnStdGeolocalizacao</h1>
<p>@L["SamplePageMessage"]</p>
