@page "/NnStdGeolocalizacao"
@using Microsoft.Extensions.Localization
@using global::Necnat.Abp.Br.NnStdGeolocalizacao.Localization
@inject IStringLocalizer<NnStdGeolocalizacaoResource> L
@{
}
<h1>NnStdGeolocalizacao</h1>
<p>@L["SamplePageMessage"]</p>